@charset"utf-8";
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}
body{
    background-color: #041436;
    background-image: url(../img/topbg.jpg);
    background-repeat: no-repeat;
    
}
.wayboo *{
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    font-weight: normal;
    box-sizing: border-box;
}
.wayboo{
    width: 1200px;
    margin: auto;
    .logo{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .wayboo_top{
        padding-bottom: 70px;
        .wayboo_round{
            width: 451px;
            height: 451px;
            margin: auto;
            position: relative;
            >div{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                color: #fff;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    font-weight: 700;
                    font-size: 24px;
                }
                p{
                    color: #06cbf5;
                    font-size: 14px;
                    padding-top: 5px;
                    padding-bottom: 10px;
                }
                h1{
                    font-weight: bold;
                    font-size: 70px;
                }
            }
            .round{
                animation: spin 5s infinite linear;
            }
        }
        .wayboo_bottom{
            width: 860px;
            margin: auto;
            color: #06cbf5;
            >.wayboo_bottomlist{
                float: left;
                width: 33.3%;
                text-align: center;
                padding-top: 60px;
                p{
                   text-align: center;
                }
                >div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-right: 28px;
                    i{
                        display: inline-block;
                        width: 1px;
                        height: 18px;
                        background: rgba(255,255,255,0.3);
                        margin: 0 15px;
                    }
                    span{
                        font-size: 36px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .wayboo_middle{
        width: 1200px;
        margin:auto;
        background: #213350;
        padding: 65px 0 0;
//      margin-top: 70px;
        .wayboo_map{
            padding: 0 74px;
            .wayboo_mapLeft{
                float: left;
                padding-bottom: 70px;
                >h1{
                    font-weight: bold;
                    font-size: 35px;
                    color: #fff;
                }
                >p{
                    font-size: 14px;
                    padding: 40px 0 30px;
                    color:#7b99bb;
                }
                .wayboo_maplist{
                    color: rgba(255,255,255,0.3);
                    width: 290px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 25px;
                    >div{
                        width: 240px;
                        height: 6px;
                        border-radius: 2000px;
                        background:#46596d;
                        position: relative;
                        overflow: hidden;
                        >p{
                            width: 80%;
                            height: 100%;
                            transition: all 0.5s;
                            background:#05a6c6; 
                            background: -webkit-linear-gradient(left, #ce14ff , #05a6c6); 
                            background: -o-linear-gradient(right, #ce14ff, #05a6c6); 
                            background: -moz-linear-gradient(right, #ce14ff, #05a6c6);
                            background: linear-gradient(to right, #ce14ff , #05a6c6); 
                        }
                    }
                }
            }
            .wayboo_mapRight{
                float: right;
                width: 700px;
                height: 460px;
            }
        }
        //
        .wayboo_exposure{
            padding:70px  74px 70px;
            background: #1e304d;
            .wayboo_exposureLeft{
                float: left;
                width: 555px;
                >h1{
                    font-weight: bold;
                    font-size: 35px;
                    color: #fff;
                }
                >p{
                    font-size: 14px;
                    padding: 40px 0 30px;
                    color: #7b99bb;
                }
                .wayboo_exposureimg{
                    height: 265px;
                    background-image: url(../img/tu.png);
                    background-repeat: no-repeat;
                    background-position: 210px 0px;
                    h1{
                        font-weight: bold;
                        font-size: 50px;
                        color: #0d95ff;
                    }
                }
            }
            .wayboo_exposureRight{
                float: right;
                width: 450px;
                padding-top: 30px;
                ul{
                    width: 100%;
                    li{
                        float: left;
                        width: 219px;
                        height: 120px;
                        background: #0c92fc;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        margin-right: 1px ;
                        margin-bottom: 1px;
                        p{
                            font-size: 30px;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                }
            }
        }
        //
        .wayboo_click{
            padding: 73px 74px 10px;
            background: #1b2c49;
            .wayboo_clickLeft{
                float: left;
                >h1{
                    font-weight: bold;
                    font-size: 35px;
                    color: #fff;
                    margin-bottom: 28px;
                }
                >p{
                    font-size: 14px;
                    color: #7b99bb;
//                  padding-bottom: 10px;
                }
                i{
                    display: block;
                    width: 30px;
                    height:1px;
                    background: rgba(255,255,255,0.1);
                    margin: 25px 0;
                }
                >h3{
                    font-size: 53px;
                    color: #6fdeff;
                    font-weight: bold;
                }
                >.h3{
                    color: #f5303f;
                }
            }
            .wayboo_clickRight{
                float: right;
                position: relative;
                #areaAbt{
                    width:560px;
                    height: 27px;
                    border-bottom: 1px solid #364e6d;
                    margin-left: 34px;
                    position: absolute;
                    top: -4px;
                    display: flex;
                    z-index: 10;
                    button{
                        padding: 0;
                        margin: 0;
                        height: 25px;
                        width: 70px;
                        border: none;
                        border-bottom:1px solid #25344e ;
                        background: #25344e;
                        color: #627d98;
                        cursor: pointer;
                        outline: none;
                    }
                    .areaAbtactive{
                        border: 1px solid #364e6d;
                        background: none;
                        border-bottom: none;
                        color: #fff;
                    }
                }
                #area{
                     width: 660px;
                height: 350px;
                }
            }
        }
        //
        .wayboo_deal{
            padding: 50px 74px;
            background: #1d304b;
            .wayboo_dealkLeft{
                padding: 100px 0 ;
                float: left;
                >h1{
                    font-weight: bold;
                    font-size: 35px;
                    color: #fff;
                    margin-bottom: 28px;
                }
                >p{
                    font-size: 14px;
                    color: #7b99bb;
                }
                >h3{
                    font-size: 53px;
                    color: #2d8ef9;
                    font-weight: bold;
                }
            }
            .wayboo_dealkRight{
                width: 700px;
                height:350px;
                float: right;
                >p{
                    float: left;
                    margin: 0 80px 0 80px;
                }
                >ul{
                    float: left;
                    li{
                        margin-bottom: 30px;
                        font-size: 12px;
                        color: #7893b9;
                        i{
                            display: inline-block;
                            width: 18px;
                            height: 12px;
                            background: red;
                            margin-right: 12px;
                        }
                    }
                }
            }
        }
        //
        .wayboo_table{
            padding: 50px 0;
            background: #162744;
            >div{
                padding: 0 24px;
                width: 49%;
                float: left;
                border-right: 1px solid #20324f;
                h1{
                    text-align: center;
                    padding:20px;
                    background: #1e2f4c;
                    font-size: 16px;
                    color: rgba(255,255,255,0.8);
                    font-weight: bold;
                    letter-spacing: 3px;
                }
                .tableOne,.tableTow{
                    height: 370px;
                    overflow: hidden;
                }
                table{
                    width: 100%;
                    text-align: center;
                    thead tr th{
                        color:#3c7beb ;
                        font-size: 14px;
                        padding: 30px 0 10px;
                        border-bottom:1px solid rgba(133, 130, 130, 0.1);
                        position: relative;
                        z-index: 10;
                        background: #162744;
                    }
                }
                .tableOne table  tbody tr th{
                     width: 108px;
                    height: 68px;
                    text-overflow: inherit;
                    overflow: hidden;
                    padding: 13px 0;
                    font-size: 14px;
                    color: #7c99c0;
                }
                .tableTow table  tbody tr th{
                     width: 290px;
                    height: 68px;
                    text-overflow: inherit;
                    overflow: hidden;
                    padding: 13px 0;
                    font-size: 14px;
                    color: #708eae;
                }
            }
        }
        //
        .wayboo_partner{
            padding: 70px 74px 80px;
            background: #1d2f4c;
            >h1{
                    font-weight: bold;
                    font-size: 35px;
                    color: #fff;
                    margin-bottom: 28px;
            }
            >ul{
                width: 100%;
                margin-top: 60px;
                border-right:1px solid rgba(133, 130, 130, 0.1);
                li{
                    float: left;
                    width: 175px;
                    height: 90px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgba(133, 130, 130, 0.1);
                    justify-content: center;
                    border-left: 1px solid rgba(133, 130, 130, 0.1);
                }
            }
        }
    }
}
